.heading{
    background-image: url("../../assets/Images/main/Header-bg.svg");
    height: 150px;
    background-size: 100%;
    background-size: cover;
}

.heading h3{
    margin-left: 20px;
    padding-top: 30px;
  color: #FFFFFF;
  font-family: "Nunito Sans Black";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}

.logo{
    margin: auto;
    margin-top: 20px;
    display: flex;
    height: 53px;
    width: 60px;
}

.form {
    position: relative;
    float: left
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.form-control{
    border: none;
}

.short-by{
  color: #96A1A9;
  font-family: "Nunito Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: right;

}

.short-by-op>select{
    margin-bottom: -20px;
    width: 150px;
}

.angle-down{
    float: right;
    margin: auto;
    position:relative;
    right:50px;
    top:-10px;
}

.bttn-inactive{
    border-radius: 30px;
  color: #025AAB;
  font-family: "Nunito Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  border: 1px solid #025AAB;
  padding: 5px 20px;
  background-color: #fff;

}

.bttn-active{
    border-radius: 30px;
    color: #fff;
    font-family: "Nunito Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    border: 1px solid #025AAB;
    padding: 5px 20px;
    background-color: #025AAB;
}

.tbody-content{
  color: #3F3F3F;
  font-family: "Nunito Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}
.tbody-content-title{
  color: #414950;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.44px;
  line-height: 22px;

}

