<div class="heading">
  <div class="row">
    <div class="col-4">
      <h3><i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp; Project Listing</h3>
    </div>
    <div class="col-4">
      <img class="logo" src="../../assets/Images/login/Logo.svg" alt="">
    </div>
    <div class="col-4">

    </div>
  </div>

  <div class="card m-3 rounded">
    <div class="row">
      <div class="col-6">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search..." [(ngModel)]="term">
        </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-end mt-2">
          <div class="col-2 text-end my-auto">
            <label class="form-group short-by">Sort By :</label>
          </div>
          <div class="col-3 p-0 m-0 short-by-op">
            <select class="form-control" (change)="sortByFn($event)">
              <option value=" projectName"> Project Name </option>
              <option value="reason"> Reason </option>
              <option value="type"> Type </option>
              <option value="division"> Division </option>
              <option value="catagory"> Catagory </option>
              <option value="priority"> Priority </option>
              <option value="dept"> Dept </option>
              <option value="location"> Location </option>
              <option value="status"> Status </option>
            </select>
            <span class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>


    <table class="table">
      <thead>
        <tr style="background-color: #EBF5FF;">
          <th scope="col">Project Name</th>
          <th scope="col">Reason</th>
          <th scope="col">Type</th>
          <th scope="col">Division</th>
          <th scope="col">Catagory</th>
          <th scope="col">Priority</th>
          <th scope="col">Dept</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="tbody-content">
        <tr *ngFor="let project of projects | filter:term,let i = index">
          <td><span class="tbody-content-title">{{project.projectName}}</span><br><span *ngIf="project.startDate">{{project.startDate | date:'longDate'}} to {{project.endDate | date}}</span></td>
          <td>{{project.reason}}</td>
          <td>{{project.type}}</td>
          <td>{{project.division}}</td>
          <td>{{project.catagory}}</td>
          <td>{{project.priority}}</td>
          <td>{{project.dept}}</td>
          <td>{{project.location}}</td>
          <td>{{project.status}}</td>
          <th>
            <button
              [ngClass]="project.projectStatus!='Running'? 'bttn-inactive': 'bttn-active'"
              (click)="onStatusChange(project._id,'Running')">{{project.projectStatus!="Running"? "Start":
              "Running"}}</button>
          </th>
          <th>
            <button
              [ngClass]="project.projectStatus!='Closed'? 'bttn-inactive': 'bttn-active'"
              (click)="onStatusChange(project._id,'Closed')">{{project.projectStatus!="Closed"? "Close":
              "Closed"}}</button>
          </th>
          <th>
            <button
              [ngClass]="project.projectStatus!='Cancelled'? 'bttn-inactive': 'bttn-active'"
              (click)="onStatusChange(project._id,'Cancelled')">{{project.projectStatus!="Cancelled"? "Cancel":
              "Cancelled"}}</button>
          </th>
        </tr>
      </tbody>
    </table>

    <div class="row pt-2 justify-content-center">
      <pagination *ngIf="totalRecords>0" [currentPage]="page" [pageCount]="totalRecords/10+1"
        (pageSelected)="changePage($event)"></pagination>
    </div>
  </div>
</div>