<div class="heading">
    <div class="row">
        <div class="col-4">
            <h3><i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp; dashboard</h3>
        </div>
        <div class="col-4">
            <img class="logo" src="../../assets/Images/login/Logo.svg" alt="">
        </div>
        <div class="col-4">

        </div>
    </div>

    <div class="card m-3 rounded p-5">

        <div class="row">
            <div class="col-md-2">
                <div class="my-card">
                    <h4>Registered</h4>
                    <h1>{{Registered}}</h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="my-card">
                    <h4>Closed</h4>
                    <h1>{{Closed}}</h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="my-card">
                    <h4>Running</h4>
                    <h1>{{Running}}</h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="my-card">
                    <h4>Closure Delay</h4>
                    <h1>{{closureDelay}}</h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="my-card">
                    <h4>Cancelled</h4>
                    <h1>{{Cancelled}}</h1>
                </div>
            </div>
        </div>

        <br />
        <br />
        <div>


            <div style="width:80%; margin-left:10px">
                <chart [type]="type" [data]="data" [options]="options"></chart>
            </div>
            <!-- 
            <table>
                <tr>
                    <th>Department Name</th>
                    <th>Total Registered</th>
                    <th>Total Closed</th>
                </tr>
                <tr *ngFor="let c of deptWiseDataCount">
                    <td>{{c.deptName}}</td>
                    <td>{{c.registered}}</td>
                    <td>{{c.closed}}</td>
                </tr>
            </table>
             -->
        </div>

    </div>
</div>